@page "/"
@inherits ComponentBase
@implements IDisposable

<TitleBlock Title="ZKTeco Configurator" />

<Panel class="pt-2 px-2 mb-0 is-size-7" Title="Clock Settings">
    <EditForm Model="InputModel" OnValidSubmit="OnConnect">
        <DataAnnotationsValidator />

        <div class="columns is-variable is-1">
            <div class="column is-8-desktop is-8-widescreen is-9-fullhd is-10-4k">
                <div class="columns is-multiline is-variable is-1">
                    <div class="column is-12-desktop is-12-widescreen is-6-fullhd">
                        <div class="field">
                            <Label For="() => InputModel.IpAddress" TooltipMode="TooltipTop" />
                            <div class="control has-icons-left">
                                <InputText class="input" @bind-Value="InputModel.IpAddress" />
                                <span class="material-icons icon is-left">title</span>
                                <div class="help is-danger">
                                    <ValidationMessage For="() => InputModel.IpAddress" />
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <Label For="() => InputModel.Port" TooltipMode="TooltipTop" />
                            <div class="control has-icons-left">
                                <InputNumber class="input" @bind-Value="InputModel.Port" />
                                <span class="material-icons icon is-left">numbers</span>
                                <div class="help is-danger">
                                    <ValidationMessage For="() => InputModel.Port" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-12-desktop is-12-widescreen is-6-fullhd">
                        <div class="field">
                            <Label For="() => InputModel.Password" TooltipMode="TooltipTop" />
                            <div class="control has-icons-left">
                                <InputPassword class="input" @bind-Value="InputModel.Password" />
                                <div class="help is-danger">
                                    <ValidationMessage For="() => InputModel.Password" />
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <Label TValue="object" DisplayText="Options" data-tooltip="Select the settings for the clock connection." TooltipMode="TooltipTop" />
                            <InputSwitch class='input' div-class="p-3" @bind-Value="InputModel.UseTcp" TooltipMode="TooltipTop" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-4-desktop is-4-widescreen is-3-fullhd is-2-4k">
                <div class="field">
                    <Label TValue="object" DisplayText="Connection Status" />
                    <div class="control has-icons-left">
                        <InputTextArea class="input textarea is-info" @bind-Value="ConnectionStatusMessage" rows="12" readonly />
                        <span class="material-icons icon is-left">description</span>
                    </div>
                </div>
            </div>
        </div>

        <SubmitButton class="is-fullwidth mb-4" disabled="@DisableSubmit" DisplayText="Connect" Icon="time_auto" />
    </EditForm>
</Panel>

<Panel class="pt-2 px-2 mb-0 is-size-7" Title="Device Details & Management">
    <EditForm Model="DeviceDetailsPlaceholder">
        <div class="columns is-variable is-1">
            <div class="column is-4-desktop is-4-widescreen is-3-fullhd is-2-4k">
                <button type="button" class="button is-info is-fullwidth my-1" disabled="@DisableControls" @onclick='GetDeviceDetails'>
                    <span class="material-icons icon">play_arrow</span>
                    <span>Get Device Details</span>
                </button>

                <button type="button" class="button is-info is-fullwidth my-1" disabled="@DisableControls" @onclick='EnableDevice'>
                    <span class="material-icons icon">enable</span>
                    <span>Enable Device</span>
                </button>

                <button type="button" class="button is-info is-fullwidth my-1" disabled="@DisableControls" @onclick='DisableDevice'>
                    <span class="material-icons icon">disabled_by_default</span>
                    <span>Disable Device</span>
                </button>

                <button type="button" class="button is-info is-fullwidth my-1" disabled="@DisableControls" @onclick='RestartDevice'>
                    <span class="material-icons icon">restart_alt</span>
                    <span>Restart Device</span>
                </button>

                <button type="button" class="button is-info is-fullwidth my-1" disabled="@DisableControls" @onclick='ShutdownDevice'>
                    <span class="material-icons icon">settings_power</span>
                    <span>Shutdown Device</span>
                </button>

                <button type="button" class="button is-info is-fullwidth my-1" disabled="@DisableControls" @onclick='ClearAndRefresh'>
                    <span class="material-icons icon">reset_wrench</span>
                    <span>Clear Errors and Refresh</span>
                </button>

                <hr class="my-4" />

                <div class="field">
                    <Label For="() => InputModel.ClockTime" TooltipMode="TooltipTop" />
                    <div class="control has-icons-left has-icons-right">
                        <InputDateTime class='input' @bind-Value=InputModel.ClockTime Options="InputDateTimeMode" disabled="@DisableControls" />
                        <div class="help is-danger">
                            <ValidationMessage For="() => InputModel.ClockTime" />
                        </div>
                    </div>
                </div>

                <button type="button" class="button is-info is-fullwidth my-1" disabled="@DisableControls" @onclick='SetClockTime'>
                    <span class="material-icons icon">schedule</span>
                    <span>Set Device Time</span>
                </button>

                <hr class="my-4" />

                <div class="field">
                    <Label For="() => InputModel.DisplayText" TooltipMode="TooltipTop" />
                    <div class="control has-icons-left">
                        <InputText class="input" @bind-Value="InputModel.DisplayText" disabled="@DisableControls" />
                        <span class="material-icons icon is-left">title</span>
                        <div class="help is-danger">
                            <ValidationMessage For="() => InputModel.DisplayText" />
                        </div>
                    </div>
                </div>

                <button type="button" class="button is-info is-fullwidth my-1" disabled="@DisableControls" @onclick='SetDisplayText'>
                    <span class="material-icons icon">title</span>
                    <span>Set Device Display Text</span>
                </button>

                <button type="button" class="button is-info is-fullwidth my-1" disabled="@DisableControls" @onclick='ClearDisplayText'>
                    <span class="material-icons icon">delete_forever</span>
                    <span>Clear Device Display Text</span>
                </button>
            </div>

            <div class="column is-8-desktop is-8-widescreen is-9-fullhd is-10-4k">
                @if (DeviceStorageCounts != null)
                {
                    <Level class="has-text-centered">
                        <LevelItem Heading="User Count" Title='@DeviceStorageCounts.Users.ToString("N0")' style="width: 33.33333%" />
                        <LevelItem Heading="Attendance Count" Title='@DeviceStorageCounts.Records.ToString("N0")' style="width: 33.33333%" />
                        <LevelItem Heading="Fingerprint Count" Title='@DeviceStorageCounts.Fingers.ToString("N0")' style="width: 33.33333%" />
                    </Level>

                    <Level class="has-text-centered">
                        <LevelItem Heading="Remaining Users" Title='@DeviceStorageCounts.AvailableUsers.ToString("N0")' style="width: 33.33333%" />
                        <LevelItem Heading="Remaining Attendance Records" Title='@DeviceStorageCounts.AvailableRecords.ToString("N0")' style="width: 33.33333%" />
                        <LevelItem Heading="Remaining Fingerprints" Title='@DeviceStorageCounts.AvailableFingers.ToString("N0")' style="width: 33.33333%" />
                    </Level>

                    <Level class="has-text-centered">
                        <LevelItem Heading="Max Users" Title='@DeviceStorageCounts.MaximumUsers.ToString("N0")' style="width: 33.33333%" />
                        <LevelItem Heading="Max Attendance Records" Title='@DeviceStorageCounts.MaximumRecords.ToString("N0")' style="width: 33.33333%" />
                        <LevelItem Heading="Max Fingerprints" Title='@DeviceStorageCounts.MaximumFingers.ToString("N0")' style="width: 33.33333%" />
                    </Level>
                }

                <div class="field">
                    <Label TValue="object" DisplayText="Device Details" />
                    <div class="control has-icons-left">
                        <InputTextArea class="input textarea is-info is-fullwidth" @bind-Value="DeviceDetailsMessage" rows="12" readonly />
                        <span class="material-icons icon is-left">description</span>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
</Panel>

<Panel class="pt-2 px-2 mb-0 is-size-7" Title="User Management">
    <EditForm Model="UserDetailsPlaceholder">
        <div class="columns is-variable is-1">
            <div class="column is-4-desktop is-4-widescreen is-3-fullhd is-2-4k">
                <button type="button" class="button is-info is-fullwidth my-1" disabled="@DisableControls" @onclick='GetUsers'>
                    <span class="material-icons icon">groups</span>
                    <span>Get Users</span>
                </button>

                <hr class="my-4" />

                <div class="field">
                    <Label TValue="object" DisplayText="Name" />
                    <div class="control has-icons-left">
                        <InputText class="input" @bind-Value="NewUser.Name" disabled="@DisableControls" />
                        <span class="material-icons icon is-left">title</span>
                        <div class="help is-danger">
                            <ValidationMessage For="() => NewUser.Name" />
                        </div>
                    </div>
                </div>

                <div class="field">
                    <Label TValue="object" DisplayText="Password" />
                    <div class="control has-icons-left">
                        <InputPassword class="input" @bind-Value="NewUser.Password" disabled="@DisableControls" />
                        <div class="help is-danger">
                            <ValidationMessage For="() => NewUser.Password" />
                        </div>
                    </div>
                </div>

                <div class="field">
                    <Label TValue="object" DisplayText="Privilege" />
                    <div class="control has-icons-left has-icons-right">
                        <InputSelectEnum class='is-fullwidth' @bind-Value=NewUser.Privilege disabled="@DisableControls" />
                    </div>
                </div>

                <div class="field">
                    <Label TValue="object" DisplayText="Group" />
                    <div class="control has-icons-left">
                        <InputText class="input" @bind-Value="NewUser.Group" disabled="@DisableControls" />
                        <span class="material-icons icon is-left">title</span>
                        <div class="help is-danger">
                            <ValidationMessage For="() => NewUser.Group" />
                        </div>
                    </div>
                </div>

                <div class="field">
                    <Label TValue="object" DisplayText="User Id" />
                    <div class="control has-icons-left">
                        <InputText class="input" @bind-Value="NewUser.UserId" disabled="@DisableControls" />
                        <span class="material-icons icon is-left">title</span>
                        <div class="help is-danger">
                            <ValidationMessage For="() => NewUser.UserId" />
                        </div>
                    </div>
                </div>

                <div class="field">
                    <Label TValue="object" DisplayText="RFID Card" />
                    <div class="control has-icons-left">
                        <InputNumber class="input" @bind-Value="NewUser.Card" disabled="@DisableControls" />
                        <span class="material-icons icon is-left">numbers</span>
                        <div class="help is-danger">
                            <ValidationMessage For="() => NewUser.Card" />
                        </div>
                    </div>
                </div>

                <button type="button" class="button is-info is-fullwidth my-1" disabled="@(DisableControls || DisableCreateUser)" @onclick='CreateUser'>
                    <span class="material-icons icon">person_add</span>
                    <span>Create User</span>
                </button>
            </div>

            <div class="column is-8-desktop is-8-widescreen is-9-fullhd is-10-4k">
                <Table class="is-fullwidth is-hoverable is-striped is-size-6">
                    <TableHead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Privilege</th>
                            <th>Group</th>
                            <th>Card</th>
                            <th>&nbsp;</th>
                        </tr>
                    </TableHead>
                    <TableBody>
                        <Virtualize Items="Users" Context="user" SpacerElement="tr">
                            <tr>
                                <TableData>@user.UserId</TableData>
                                <TableData>@user.Name</TableData>
                                <TableData>@user.Password</TableData>
                                <TableData>@user.Privilege.ToString()</TableData>
                                <TableData>@user.Group</TableData>
                                <TableData>@user.Card</TableData>
                                <td>
                                    <button type="button" class="button is-small is-danger is-fullwidth my-1" disabled="@DisableControls" @onclick='() => DeleteUser(user)'>
                                        <span class="material-icons icon">delete_forever</span>
                                        <span>Delete</span>
                                    </button>
                                </td>
                            </tr>
                        </Virtualize>
                    </TableBody>
                </Table>
            </div>
        </div>
    </EditForm>
</Panel>

<Panel class="pt-2 px-2 mb-0 is-size-7" Title="Attendance Management">
    <EditForm Model="AttendanceDetailsPlaceholder">
        <div class="columns is-variable is-1">
            <div class="column is-4-desktop is-4-widescreen is-3-fullhd is-2-4k">
            </div>

            <div class="column is-8-desktop is-8-widescreen is-9-fullhd is-10-4k">
            </div>
        </div>
    </EditForm>
</Panel>
